@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.css);

body,
* {
  font-family: "opensans-regular", sans-serif;
}

body.modal_open {
  overflow-y: hidden;
}

// nav style custom
nav {
  a.isActive {
    border-color: #872800;
    border-radius: 4px;
  }

  button.isCollapse {
    background-color: #872800;
  }

  button.isCollapse {
    div {
      background-color: white;
    }
  }
}

// mixin
@mixin justify-items-center {
  @apply flex;
  @apply justify-center;
  @apply items-center;
}

@mixin content-form {
  width: 100%;
  height: max-content;
  @apply bg-white;
  @apply p-4;
  @apply rounded-xl;

  // md breakpoint
  @apply sm:w-[500px];
  @apply md:w-[600px];
  @apply md:p-12;

  .title_modal {
    @apply mt-4;
    @apply font-["opensans-bold"];
    @apply text-center;
    @apply text-xl;
    @apply mb-6;

    // md breakpoint
    @apply md:mt-0;
  }

  div {
    * {
      display: block;
      width: 100%;
    }
  }

  .input_group {
    position: relative;
    @apply mb-6;
    label {
      font-family: "opensans-semibold", sans-serif;
      @apply mb-3;
      @apply text-base;
    }
    input {
      min-height: 46px;
      @apply rounded-[10px];
      @apply px-3;
      border: none;
      outline: none;
      @apply transition-shadow;
      @apply duration-300;
      @apply ease-in-out;
      box-shadow: 0 0 3px 0 #6b6b6b;

      &:focus {
        box-shadow: 0 0 10px 2px #496440;
      }
    }

    button {
      position: absolute;
      @apply right-1;
      bottom: 0;
      width: 46px;
      min-height: 46px;
      @apply rounded-full;
      @include justify-items-center;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .button_group {
    @apply my-10;

    // md breakpoint
    @apply md:mb-2;
    input,
    a {
      ~ span {
        position: relative;
        font-family: "opensans-semibold", sans-serif;
        @apply text-center;
      }

      @apply cursor-pointer;
      @include justify-items-center;
      @apply rounded-[10px];
      color: #143317;
      min-height: 46px;
    }

    input {
      @apply bg-[#143317];
      color: white;
    }

    a {
      box-shadow: 0px 0px 3px 0px #00000040;
    }

    span {
      color: #6b6b6b;
      @apply my-2;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        @apply mt-[3.5%];
        width: 42%;
        height: 1px;
        background: #6b6b6b;

        // breakpoint
        @apply min-[430px]:mt-[3%];
        @apply min-[610px]:mt-[2.5%];
        @apply sm:mt-[2.8%];
      }

      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
}

// login modal custom
#modal_login {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @apply bg-[#0000004d];
  @apply p-1;
  @include justify-items-center;

  .modal_content {
    @include content-form;
  }
}

// registration page custom
#registration_page {
  width: 100%;
  @include justify-items-center;

  .content {
    @include content-form;
  }
}

// 404 custom
#notfound {
  @include justify-items-center;
  @apply flex-col;
  @apply min-h-[60vh];

  // breakpoint
  @apply sm:h-[65vh];
  @apply lg:h-[70vh];

  h1:first-of-type {
    font-family: "opensans-bold", sans-serif;
    @apply text-9xl;
    @apply mb-10;
  }
  h1:last-of-type {
    @apply text-xl;
  }
}

@media (min-width: 768px) {
  nav {
    a {
      border: none;
      border-radius: 4px;
      display: flex;
      justify-content: center;
    }

    a::before {
      content: "";
      position: absolute;
      bottom: 8px;
      width: 30%;
      height: 3px;
      background-color: #143317;
      z-index: 10;
      border-radius: 4px;
      transform: rotateY(90deg);
      transition: 300ms ease-in-out;
    }
    a.isActive::before {
      transform: rotateY(0deg);
    }

    #nav_option {
      a:last-of-type::before {
        background-color: #ae4f18;
      }
      a:last-of-type {
        border-radius: 9999px;
        transition: background-color 300ms ease-in-out, transform 300ms ease-in-out 400ms;
      }

      a.isActive {
        transition: transform 300ms ease-in-out, background-color 300ms ease-in-out 400ms;
        box-shadow: inset 10px -10px 10px rgba(241, 182, 147, 0.5);
      }
    }

    .md\:flex {
      display: flex !important;
    }

    .md\:flex-row {
      flex-direction: row !important;
    }

    .md\:rotate-\[0deg\] {
      transform: rotate(0deg) !important;
    }
  }
}
